[bumpversion]
current_version = 1.5.7
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file:Dockerfile]
search = servicenow-api[all]>={current_version}
replace = servicenow-api[all]>={new_version}

[bumpversion:file:servicenow_api/servicenow_agent.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:servicenow_api/servicenow_mcp.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
