# Environment Variables for servicenow-api
SNOW_HOST=https://instance.service-now.com
SNOW_INSTANCE=instance
SNOW_USER=YOUR_NAME
SNOW_PASSWORD=your_password_here
SNOW_CLIENT_ID=your_client_id
SNOW_CLIENT_SECRET=your_client_secret_here
