---
services:
  servicenow-mcp:
    image: docker.io/knucklessg1/servicenow:latest
    # build: . # Debug
    container_name: servicenow-mcp
    hostname: servicenow-mcp
    command: ["servicenow-mcp"]
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    restart: always
    environment:
      - HOST=0.0.0.0 # Optional
      - PORT=8004 # Optional
      - TRANSPORT=streamable-http
      - SERVICENOW_INSTANCE=https://yourinstance.servicenow.com
      - SERVICENOW_USERNAME=user
      - SERVICENOW_PASSWORD=pass
      - SERVICENOW_CLIENT_ID=client_id # Optional
      - SERVICENOW_CLIENT_SECRET=client_secret # Optional
      - SERVICENOW_VERIFY=False # Optional
#      - AUTH_TYPE=oidc-proxy # Optional
#      - OIDC_CONFIG_URL=https://provider.com/.well-known/openid-configuration # Optional
#      - OIDC_CLIENT_ID=your-client-id # Optional
#      - OIDC_CLIENT_SECRET=your-client-secret # Optional
#      - OIDC_BASE_URL=https://your-server.com # Optional
#      - ALLOWED_CLIENT_REDIRECT_URIS=http://localhost:*,https://*.example.com/* # Optional
#      - ENABLE_DELEGATION=True # Optional
#      - SERVICENOW_AUDIENCE=https://yourinstance.servicenow.com # Optional
#      - DELEGATED_SCOPES='api user_impersonation' # Optional
#      - EUNOMIA_TYPE=embedded # Optional
#      - EUNOMIA_POLICY_FILE=/app/mcp_policies.json # Optional
#      - FASTMCP_SERVER_AUTH_JWT_ALGORITHM=HS256 # Optional
#      - FASTMCP_SERVER_AUTH_JWT_PUBLIC_KEY=your-shared-secret # Optional
#      - FASTMCP_SERVER_AUTH_JWT_REQUIRED_SCOPES=servicenow.read,servicenow.write # Optional
    ports:
      - "8004:8004"

  servicenow-a2a:
    image: docker.io/knucklessg1/servicenow:latest
    # build: . # Debug
    container_name: servicenow-a2a
    hostname: servicenow-a2a
    command: ["servicenow-a2a"]
    depends_on:
      - servicenow-mcp
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    restart: always
    environment:
      - "HOST=0.0.0.0"
      - "PORT=9004"
      - "MCP_URL=http://servicenow-mcp:8004/mcp"
      - "PROVIDER=openai"
      - "OPENAI_BASE_URL=http://localhost:1234/v1"
      - "OPENAI_API_KEY=llama"
      - "MODEL_ID=qwen/qwen3-8b"
    ports:
      - "9004:9004"

